#table-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-gap: 4px;
  background-color: #e8e8e8;
  padding: 20px;
  float: right;
  margin-top: -20em;
}

td {
  width: 40px;
  height: 40px;
  background-color: #dcdcdc;
}

button {
  display: block;
  margin-top: 20px;
  clear: both;
}
